/* font */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */

* {
    margin: 0;
    padding: 0;
}

/* font colors */

.orange {
    color: orange;
}

.skyblue {
    color: skyblue;
}

.turquoise {
    color: #05D4DF;
}

.periwinkle-blue {
    color: #5D58EF;
}

/* display flex */

.display-flex {
    display: flex;
}

/* max-width */

header,
.banner,
.curriculum,
.our-sories-section,
.footer-section,
.scrolling {
    max-width: 1160px;
    margin: 0 auto;
}

.bg-color {
    background-color: rgb(247, 247, 247);
}

.primary-btn {
    background-color: black;
    color: white;
    padding: 10px 47px;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
    border-radius: 12px;
}

.primary-btn:hover {
    background-color: orange;
}

/* navbar related styles */

.navbar {
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

.website {
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.web-name {
    font-size: 2rem;
    font-weight: 700;
}

.nav-menu {
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.nav-list {
    list-style: none;
}

.nav-link {
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
}

.contact-btn {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px 60px;
    font-size: 1.25rem;
    font-weight: 500;
}

/* mouse hover on contact button */

.contact-btn:hover {
    background-color: black;
}

/* marquee styles */

.scrolling {
    margin-top: 10px;
}

.scrolling span {
    padding-left: 10px;
    background-color: orange;
    width: 10%;
    padding: 5px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    text-align: center;
    border-radius: 5px 0 0 5px;
}

marquee {
    font-size: 1rem;
    font-weight: 500;
    background-color: rgb(243, 243, 243);
    padding: 5px 0;
    /* border-radius: 0 5px 5px 0; */
}

/* Banner related styles */

.banner {
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-description {
    font-size: 1.25rem;
    margin-bottom: 24px;
}

/* curriculum related styles */

.curriculum {
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.curriculum-title {
    font-size: 2.9rem;
    font-weight: 700;
    text-align: center;
    padding-top: 60px;
}

.curriculum-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 28px;
    margin: 80px 0;
}

.curriculum-card {
    text-align: center;
    border: none;
    border-radius: 19px;
    padding: 50px 40px;
    box-shadow: 0 0 28.3px rgba(0, 0, 0, 0.05);
}

.curriculum-card-title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 33px;
}

.curriculum-card-description {
    font-size: 1rem;
    line-height: 28px;
    margin-bottom: 33px;
}

/* curriculum cards id */

#card-1 {
    background: linear-gradient(rgba(222, 245, 255, 1), white, white, white);
}

#card-2 {
    background: linear-gradient(rgba(255, 244, 220, 1), white, white, white);
}

#card-3 {
    background: linear-gradient(rgb(238, 225, 255), white, white, white);
}

/* mouse hover on curriculum cards */

#card-1:hover {
    background: linear-gradient(white, white, rgba(222, 245, 255, 1));
}

#card-2:hover {
    background: linear-gradient(white, white, rgba(255, 244, 220, 1));
}

#card-3:hover {
    background: linear-gradient(white, white, rgb(238, 225, 255));
}

/* read more button */

.read-more {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

/* mouse hover on read more button */

.read-more:hover {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 20px;
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
}

.fa-chevron-left,
.fa-chevron-right {
    font-size: 2rem;
    font-weight: 700;
    background-color: orange;
    text-align: center;
    padding: 18px 25px;
    border-radius: 50%;
    color: white;
}


/* our stories related styles */

.our-stories {
    background: url(../assets/bg.png), linear-gradient(rgb(250, 250, 250), rgba(254, 163, 1, 0.3));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.stories-title {
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
    padding-top: 60px;
}

.stories-container {
    justify-content: center;
    align-items: center;
    gap: 19px;
    margin: 80px 0;
}

.stories-big-card {
    background-color: white;
    border: none;
    border-radius: 16px;
}

.stories-big-img {
    width: 100%;
    border: none;
    border-radius: 16px 16px 0 0;
}

.story-big-card-content {
    width: 450px;
    margin: 0 auto;
    padding: 0 40px;
}

.stories-big-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 48px;
}

.stories-big-description {
    font-size: 1rem;
    line-height: 29px;
    margin-bottom: 35px;
}

.story-sidebar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}

.small-story-card {
    background-color: white;
    border: none;
    border-radius: 16px;
}

.small-story-caption {
    font-size: 1rem;
    font-weight: 700;
    line-height: 29px;
    padding: 0 24px 24px 24px;
}

.small-story-img {
    width: 100%;
    border: none;
    border-radius: 16px 16px 0 0;
}

/* stories date button */

.stories-btn-date {
    background-color: #95B226;
    color: white;
    border: none;
    border-radius: 48px;
    font-size: .75rem;
    font-weight: 500;
    text-align: center;
    padding: 10px 19px;
    transform: translateX(30%) translateY(-60%);
}

#date-btn-light-turquoise {
    background-color: #3CD8E8;
    padding: 15px 19px;
    transform: translateX(60%) translateY(-60%);
    font-size: 1rem;
}

#date-btn-periwinkle-blue {
    background-color: #5D58F0;
}

.view-all-btn {
    text-align: center;
    padding-bottom: 60px;
}

/* footer related styles */

footer {
    background-color: rgba(1, 172, 253, 1);
}

.footer-section {
    justify-content: center;
    gap: 150px;
    padding: 80px 0 120px 0;
}

.footer-web-info-container {
    align-items: center;
    gap: 11px;
    margin-bottom: 35px;
}

.footer-web-name {
    font-size: 2.6rem;
    color: white;
}

.footer-web-description {
    font-size: 1.25rem;
    color: white;
    width: 400px;
}

/* footer menu styles */

.footer-menu-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin-bottom: 32px;
}

.footer-menu-list {
    list-style: none;
    margin-bottom: 20px;
}

.footer-menu-link {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
}

/* social media styles */

.social-media-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin-bottom: 32px;
}

.social-media-container {
    gap: 10px;
}

/* responsive for small device */

@media screen and (max-width: 576px) {

    /* navbar */



    /* banner serction */
    .banner {
        flex-direction: column-reverse;
        padding: 0 20px;
        gap: 0;
        justify-items: center;
        align-items: center;
    }

    .banner-content {
        text-align: center;
        margin-bottom: 20px;
    }

    .banner-img {
        transform: scale(.84);
    }

    /* curriculum section */

    .curriculum-card-container {
        grid-template-columns: 1fr;
        gap: 24px;
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .arrows {
        display: none;
    }

    /* our stories section */

    .story-sidebar {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 20px;
    }

    .stories-big-card {
        display: none;
    }

    .stories-btn-date {
        width: 70%;
        font-size: .6rem;
        transform: translateX(20%) translateY(-65%);
    }

    /* footer section */

    .footer-section {
        flex-direction: column;
        gap: 32px;
        margin: 0 20px;
    }

    .footer-web-description {
        width: 100%;
    }

    .social-media-container {
        margin-right: 5px;
    }





}